<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <app-nav-link-home [navLinkHome]="leftNavBaseModel.navLinkHome" *ngIf="leftNavBaseModel.navLinkHome"></app-nav-link-home>
  <div class="sidebar">
    <app-nav-link-user-profile [navLinkUserProfile]="leftNavBaseModel.navLinkUserProfile" *ngIf="leftNavBaseModel.navLinkUserProfile"></app-nav-link-user-profile>
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <app-nav-link-section-header [navLinkSection]="section" *ngFor="let section of leftNavBaseModel.navLinkSection"></app-nav-link-section-header>
      </ul>
    </nav>
  </div>
</aside>
