<div class="divReportContainer">
  <div class="divReportHdrContainer">
    <ul class="ulReportHdr li2">
      <li>
        <h3>Wedding Description</h3>
      </li>
      <li>
        <a [routerLink]="['create']">test</a>
        <!--<button class="btn btn-primary btn-icon" [routerLink]="['create']"><fa-icon [icon]="faPlus"></fa-icon>Create New Record</button>-->
        <!--<button class="btn btn-primary btn-icon" (click)="createNewRecord()"><fa-icon [icon]="faPlus"></fa-icon>Create New Record</button>-->
      </li>
    </ul>
  </div>
  
  <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="descData">
    <thead>
      <tr>
        <th>Actions</th>
        <th>Id</th>
        <th>Groom Desc</th>
        <th>Bride Desc</th>
        <th>Ceremony Date Time Location</th>
        <th>Ceremony Desc</th>
        <th>Reception Date Time Location</th>
        <th>Reception Desc</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let d of descData">
        <td>
          <div class="divGridBtnContainer">
            <button class="btn btn-warning" (click)="edit(d)"><fa-icon [icon]="faPencil"></fa-icon></button>
            <button class="btn btn-danger" (click)="delete(d)"><fa-icon [icon]="faTrash"></fa-icon></button>
          </div>
        </td>
        <td>{{ d.id }}</td>
        <td>{{ d.groomDescription }}</td>
        <td>{{ d.brideDescription }}</td>
        <td>{{ d.ceremonyDateTimeLocation }}</td>
        <td>{{ d.ceremonyDescription }}</td>
        <td>{{ d.receptionDateTimeLocation }}</td>
        <td>{{ d.receptionDescription }}</td>
      </tr>
    </tbody>
  </table>
</div>


<!--<div class="divFormContainer">
  <ul class="ulFormElements">
    <li>
      <label>Groom Desc:</label>
      <input type="text" class="form-control" [(ngModel)]="descData.groomDescription" />
    </li>
    <li>
      <label>Bride Desc:</label>
      <input type="text" class="form-control" [(ngModel)]="descData.brideDescription" />
    </li>
    <li>
      <label>Ceremony Date Time Location:</label>
      <input type="text" class="form-control" [(ngModel)]="descData.ceremonyDateTimeLocation" />
    </li>
    <li>
      <label>Ceremony Description:</label>
      <input type="text" class="form-control" [(ngModel)]="descData.ceremonyDescription" />
    </li>
    <li>
      <label>Reception Date Time Location:</label>
      <input type="text" class="form-control" [(ngModel)]="descData.receptionDateTimeLocation" />
    </li>
    <li>
      <label>Reception Desc:</label>
      <input type="text" class="form-control" [(ngModel)]="descData.receptionDescription" />
    </li>
    <li class="liButtons">
      <div class="divButonLeft">
        <button class="btn btn-danger btn-icon" (click)="closeCreateEditWindow()"><fa-icon [icon]="faTimes"></fa-icon>Cancel</button>
      </div>
      <div class="divButonRight">
        <button class="btn btn-success btn-icon" (click)="save()"><fa-icon [icon]="faSave"></fa-icon>Save</button>
      </div>
    </li>
  </ul>
</div>-->
