<li class="nav-item dropdown header-message-menu">
  <a class="nav-link" data-toggle="dropdown" href="#">
    <i class="far fa-comments"></i>
    <span class="badge badge-danger navbar-badge" *ngIf="headerMessageArr.length > 0">{{headerMessageArr.length}}</span>
  </a>
  <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
    <app-header-message [headerMessage]="h" *ngFor="let h of headerMessageArr"></app-header-message>
    <a href="#" class="dropdown-item dropdown-footer">See All Messages</a>
  </div>
</li>
