<li class="nav-item dropdown header-notification-menu">
  <a class="nav-link" data-toggle="dropdown" href="#">
    <i class="far fa-bell"></i>
    <span class="badge badge-warning navbar-badge" *ngIf="headerNotificationArr.length > 0">{{headerNotificationArr.length}}</span>
  </a>
  <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
    <span class="dropdown-item dropdown-header">{{headerNotificationArr.length}} Notifications</span>
    <div class="dropdown-divider"></div>
    <app-header-notification [headerNotification]="h" *ngFor="let h of headerNotificationArr"></app-header-notification>
    <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>
  </div>
</li>
