<div class="divGridHdrContainer">
  <ul class="li2">
    <li>
      <h1>Reference Type</h1>
    </li>
    <li>
      <app-button-create [routerLink]="['create']"></app-button-create>
    </li>
  </ul>
</div>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="data">
  <thead>
    <tr>
      <th style="width: 200px;">Actions</th>
      <th>Id</th>
      <th>Name</th>
      <th>Description</th>
      <th>Created By</th>
      <th>Created On</th>
      <th>Updated By</th>
      <th>Updated On</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let d of data">
      <td style="width: 200px;">
        <div class="divGridBtnContainer">
          <ul>
            <li>
              <app-grid-button-edit [routerLink]="['edit', d.id]"></app-grid-button-edit>
            </li>
            <li>
              <app-grid-button-delete [routerLink]="['delete', d.id]"></app-grid-button-delete>
            </li>
          </ul>
        </div>
      </td>
      <td>{{ d.id }}</td>
      <td>{{ d.name }}</td>
      <td>{{ d.description }}</td>
      <td>{{ d.createdBy }}</td>
      <td>{{ d.created | date }}</td>
      <td>{{ d.lastModifiedBy }}</td>
      <td>{{ d.lastModified | date }}</td>
    </tr>
  </tbody>
</table>

